:root {
    // Colors
    //Primary
    --casperRed: #ff2d2e;
    --black: #000000;
    --casperWhite: #f4f4f4;
    --liftedBlack: #141414;
    //Secondary
    --casperYellow: #bcfc07;
    --casperGreen: #3edc64;
    --casperPurple: #9f23e1;
    --casperBlue: #2230f0;
    --casperBrown: #4f282b;
    --casperBrightPink: #f622e6;
    //Hover-Disabled Btn
    --primaryBtn-hover: #c3c3c3;
    --primaryBtn-disabled: #606060;
    --secondaryBtn-hover: #171717;
    //Tags
    --casperPinkLight: #f9aaca;
    //Tiles
    --casperTilesBrownLight: #96697c;
    //Social Media Logos
    --socialMediaLogos: #c4c4c4

    // Border radius
    //--borderRadius: 3px;
}
