:root {
    --h1-font-size: 32px;
    --h2-font-size: 28px;
    --h6-font-size: 20px;
    --nav-font-size: 14px;
    --footer-font-size: 18px;
    --cls-4-font-size: 72px;
    --casper-color-black: #000000;
    --casper-color-dark-purple: #00012a;
    --casper-color-slate: #4b4f54;
    --casper-color-grey: #7f7f94;
    --casper-color-red: #ff585d;
    --casper-color-light-red: #ff473e;
    --casper-color-blue: #6ad1e3;
    --casper-color-green: #00c08b;
    --casper-color-yellow-light: #faf8d1;
    --casper-color-yellow: #f0ec74;
    --casper-color-yellow-dark: #ece750;
    --casper-color-royal: #0072ce;
    --casper-color-gray: #f2f2f2;
    --casper-color-white: #ffffff;
    --color-error: red;
    --color-footer: #23262a;
    --casper-font-headlines: Inter, sans-serif;
    --casper-font-body: Inter, sans-serif;
}

nav.menu {
    padding: 35px 0px 0px 0px;
    margin: 0px;

    * {
        margin: 0px !important;
    }

    & > .menu__link {
        padding: 12px 20px;
    }

    .menu__list {
        & > .menu__list-item {
            & > .menu__link {
                padding: 12px 20px;
            }

            & > .menu__list {
                & > .menu__list-item {
                    & > .menu__link {
                        padding: 12px 20px 12px 35px;
                    }

                    & > .menu__list {
                        & > .menu__list-item {
                            & > .menu__link {
                                padding: 12px 20px 12px 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu__list {
        .menu__link {
            border: none;
            font-size: 14px;
            transition: color 0.3s;
        }

        .menu__link--sublist {
            letter-spacing: 0;
            font-size: 14px;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
}

footer.footer {
    padding: 30px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    background-color: var(--casper-color-dark-purple);

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--casper-color-white);

        &:hover {
            color: var(--casper-color-light-red);
        }
    }

    .footer-logo {
        width: 150px;
        margin-right: 40px;
        opacity: 0.5;
    }

    .footer-top {
        padding: 50px 0 30px;

        .items {
            display: flex;
            justify-content: flex-start;

            li {
                padding: 0 45px 0 0;
                margin: 10px 0;

                a {
                    line-height: 1.7;
                }
            }
        }
    }

    .footer-bottom {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        border-top: 1px solid var(--casper-color-slate);
        color: var(--casper-color-grey);

        .items.left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .items.right {
            a {
                text-decoration: underline;
            }
        }
    }
}

.dropdown--right:nth-child(1) {
    svg {
        display: none;
    }
}

main > .container {
    max-width: 100%;
    padding-top: 35px !important;

    & > .row > .col:nth-child(1) {
        padding-right: 0;

        & > div:nth-child(1) {
            width: 80%;
            margin: auto;
        }
    }
}

button[aria-label="Collapse sidebar"] {
    border: none;
    background: transparent;
}

@media (max-width: 1399px) {
    .DocSearch-Button-Keys,
    .DocSearch-Button-Placeholder {
        display: none !important;
    }
}

@media (min-width: 997px) and (max-width: 1399px) {
    .navbar__item {
        padding: 5px;
        font-size: 15px;
    }

    .navbar__brand {
        margin-right: 5px;
    }
}

html[data-theme="white"] {
    .menu__list {
        .menu__link {
            color: var(--casper-color-royal);
        }

        .menu__link--active.active {
            color: var(--casper-color-black);
            background: #ecfdf5;
        }

        .menu__link--sublist {
            color: var(--casper-color-black);
        }
    }
}

html[data-theme="dark"] {
    footer.footer {
        background: var(--ifm-footer-background-color);
    }

    button[aria-label="Collapse sidebar"] {
        background: var(--docsearch-modal-shadow);
    }
}

// Markdown style

img {
    display: block;
    margin: 20px 0px;

    &.align-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
