# npm packages
node_modules

# docusarus dist folder
.docusaurus
build
process.yml
dist

# credentials
.env
.env.development

# machine specific
.DS_Store

# IDE
.idea

#act github action testing
.secrets
.act/

#vim
*.swp