.linkGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 20px;
    > span {
        color: var(--halfTitleGray);
    }

    .linkList {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
}
