.container {
    position: relative;
    width: 100%;
    min-height: 160px;
    padding: 0 10px;

    &_number,
    &_description {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        >div {
            color: var(--casperYellow);
            white-space: nowrap;
            overflow: hidden;
            animation: animationNumber 0.5s ease-in-out;
            font-size: 92px;
        }

        > p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 100px;
        }
    }
    &_number {
        min-height: 149px;
    }
}

@keyframes animationNumber {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
