@import "../../../assets/scss/variable.scss";

.heroContainer {
    position: relative;
    padding: 50px;

    & > .heroBg {
        position: absolute;
        width: 100%;
        top: -30%;
        // filter: blur(33px);
        // -webkit-filter: blur(0px);
        opacity: 0.5;
    }

    & > h1 {
        margin: 30px auto;
        text-transform: uppercase;
        font-size: 80px;
        text-align: center;
    }

    & > h4 {
        margin: 10px auto;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }

    & > .actionBtn {
        margin: 50px auto;
    }

    & > .content {
        margin: 200px auto 50px auto;
    }
}
