.wrapper {
    position: absolute;
    top: calc((var(--ifm-navbar-height) / 2) - 50% + 2px);
    left: 0;
    display: flex;
    cursor: default;
    width: fit-content;
    overflow: hidden;

    .dropdown {
        /* In order to comply with the proposed design (0.25px border) 
        and given the impossibility of using units smaller than 1px, 
        we came to the following workaround that does the job using alpha color in the border. */
        border: 1px solid rgba(255, 255, 255, 0.25);
        background-color: var(--black);
        color: var(--casperWhite);
        padding: 30px;
        flex-direction: row;
        gap: 60px;
        display: flex;
        position: relative;
    }
}

@media (max-width: 996px) {
    .wrapper {
        position: relative;
        margin-left: 15px;
        z-index: 0;

        .dropdown {
            flex-direction: column;
            border: none;
            background-color: var(--liftedBlack);
            padding: 0;
            gap: 0;
            margin-top: 20px;
            opacity: 1;
        }
    }
}
