@use "../../../../assets/scss/variables/sizes";

.sideBarWrapper {
    position: absolute;
    top: var(--navBarDocHeight);
    width: 100%;
    max-width: var(--contentBoxWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    transform: translate3d(0, calc(var(--navBarDocHeight) * -1), 0);
}

.docSearchContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
