@use "../../../../assets/scss/variables/sizes";
@use "../../../../assets/scss/mixins";

.sideBarWrapper {
    position: absolute;
    top: var(--navBarDocHeight);
    width: 100%;
    max-width: var(--contentBoxWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    transform: translate3d(0, 0, 0);

    @include mixins.custom_scrollbar(var(--black) var(--casperWhite));

    &.showingAnnouncer {
        padding-bottom: var(--announcerHeight);
    }

    .docSearchContainer {
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 15px;
    }
}
