@use "../../../assets/scss/variables/sizes";
@import "../../../assets/scss/mixins";

.wrapper {
    position: relative;
    z-index: var(--navBarZIndex);
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: var(--maxContentWidth);
    margin-left: 20px;
    margin-right: 20px;

    .container {
        height: var(--navBarSiteHeight);
        color: var(--casperWhite);
        margin: 0;
        align-items: unset;
        padding: 0 30px;

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2%;
            align-items: center;

            .navbar_logo_container {
                width: 163px;
                min-width: 83px;
            }

            .icon {
                position: relative;
                width: 29px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &_cancel,
                &_menu {
                    position: absolute;
                    transform: scale(all);
                    @include transition(transform 0.3s ease-in);
                    > svg {
                        path {
                            fill: var(--casperWhite);
                        }
                    }
                    &:hover {
                        > svg {
                            path {
                                fill: var(--casperRed);
                            }
                        }
                    }
                }
                &_cancel_none,
                &_menu_none {
                    transform: scale(0);
                }
            }
        }
    }
}

@media (max-width: 996px) {
    .navbar_logo_container {
        a {
            display: block;
            width: 83px;
        }
    }
}

@media (min-width: 1600px) {
    .wrapper {
        .navbar_wrapper {
            .container {
                .navbar {
                    .navBarSectionBeginning,
                    .navBarSectionEnd {
                        gap: 10%;
                    }
                    .navBarSectionBeginning {
                        justify-content: flex-start;
                    }
                    .navBarSectionEnd {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

@media (max-width: 996px) {
    .wrapper {
        .container {
            .navbar {
                &.desktop {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 997px) {
    .wrapper {
        .container {
            .navbar {
                &.mobile {
                    display: none;
                }
            }
        }

        .mobile {
            display: none;
        }
    }
}
