@use "../../../assets/scss/variables/media-queries";

.images {
    position: relative;
    width: 100%;
    min-height: 53vh;


    &_content {
        position: relative;
        width: 100%;
        height: 100%;

        &_section {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media #{media-queries.$mobile} {
    .images_content {
        .images_content_section {

            &[class*='span'] {
                grid-column: span 12;
            }
        }
    }
}
