@import "../../../../assets/scss/mixins";

.navbar_list {
    width: 25%;
    min-width: 350px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    .navbar_list_container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 7%;

        .navbar_list_container_button {
            position: relative;
            .navbar_list_item {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 6px;
                padding: 0;
                cursor: pointer;
                background-color: transparent;
                color: var(--casperWhite);
                border: 0;

                > span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }

                > svg {
                    transition: transform 0.15s ease;
                }

                &.isActive {
                    @include transition(0.3s all);
                    color: var(--casperRed);

                    > svg {
                        path {
                            @include transition(0.3s all);
                            fill: var(--casperRed);
                        }
                        transform: rotate(180deg);
                    }
                }
            }
            &:hover {
                .navbar_list_item {
                    @include transition(0.3s all);
                    color: var(--casperRed);
                    > svg {
                        path {
                            @include transition(0.3s all);
                            fill: var(--casperRed) !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 996px) {
    .navbar_list {
        width: 100%;
        min-width: 200px;
        .navbar_list_container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            width: 100%;

            .navbar_list_container_button {
                width: 100%;
                .navbar_list_item {
                    width: 100%;
                    justify-content: space-between;
                    z-index: 5;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .navbar_list {
        min-width: unset;
    }
}
