@media (min-width: 997px) {
    .expandButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        
        padding-top: 12px;
        padding-left: 25px;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: transparent;
    }

    .expandButtonIcon {
        transform: rotate(0);
    }

    [dir="rtl"] .expandButtonIcon {
        transform: rotate(180deg);
    }
}
