.wrapper {
    .tileContent {
        grid-template-rows: max-content;
    }

    .buttonWrapper {
        margin-top: 20px;
        :hover {
            > [class*="button_container"] {
                gap: 8px;
            }
        }
    }
}

@media (max-width: 1024px) {
    [class*="container"] > .tileContent {
        grid-template-columns: repeat(auto-fill, minmax(360px, 100px));
        justify-content: center;
    }
    .wrapper {
        .buttonWrapper {
            margin-top: 60px;
        }
    }
}
@media (max-width: 400px) {
    [class*="container"] > .tileContent {
        grid-template-columns: 1fr;
    }
}
